.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: #fff;
}

.title{
    margin-bottom: 0px;
    font-size: 60px;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 770px) {
    .title{
        font-size: 40px;
    }
}

.description{
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}