.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.list{
    padding: 0 10px;
    text-align: center;
}

@media (min-width: 770px) {
    .container{
        justify-content: space-between;
    }

    .list{
        text-align: left;
    }
}

